a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
}

body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

iframe{
    height: 75vh;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 80vw;
}

p{
    text-align: justify;
}

table{
    background-color: black;
}

td{
    background-color: antiquewhite;
    border: 1px solid black;
    font-size: 0.9vw;
    font-weight: bold;
}

th{
    border: 1px solid black;
}

thead{
    background-color: antiquewhite;
    font-size: 0.9vw;
}

.tableHeadings{
    background-color: antiquewhite;
    border: 1px solid black;
    font-size: 0.9vw;
    font-weight: bold;
}

.aoea {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 5%;
    text-decoration: none;
}

#aoecampaignbody{
    align-items: center;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
}

.aoeHPa {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 5%;
    text-decoration: none;
}

.aoeHPa:hover{
    transform: scale(1.1);
    transition: 1s;
}

#aoebuildingsTable{
    border: 1px solid black;
}

#aoetechnologyTable{
    border: 1px solid black;
}

#aoeunitsTable{
    border: 1px solid black;
}

.aoeTableHeadings{
    background-color: antiquewhite;
    border: 1px solid black;
    font-size: 0.9vw;
    font-weight: bold;
}

.Babylonian{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.Egyptian{
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.Greek{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.Hittite{
    background-color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.Yamato{
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.Celts{
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.Franks{
    background-color: rgb(31, 78, 120);
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.Huns{
    background-color: black;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.Mongols{
    background-color: rgb(0, 112, 192);
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.Saracens{
    background-color: rgb(58, 56, 56);
    color: rgb(191, 143, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.Teutons{
    background-color: yellow;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.Technology{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.Technology img{
    height:auto;
    width: 95%
}

.indeximg{
    height: 100%;
    width: 100%;
}

.indexli:hover{
    transform: scale(1.1);
    transition: 1s;
}

.indexli{
    background-color: black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: auto;
    list-style: none;
    justify-content: center;
    margin-bottom:5%;
    margin-top:5%;
    width: 90%;
}

.aoeCPImage{
    height: auto;
    width: 100%;
}

#aoeCPList{
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.aoeCPListItems{
    cursor: pointer;
    list-style: none;
    margin-bottom:5%;
    width: 100%;
}

.aoeCPListItems:hover{
    transform: scale(1.1);
    transition: 1s; 
}

.campaignLists{
    align-items: center;
    border-bottom: 0.3em solid black;
    border-radius: 1em;
    border-top: 0.3em solid black;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    text-align: center;
    width:100%;
}

.missionDetails{
    border-bottom: 0.2em solid rgb(47, 39, 39);
    border-radius: 1em;
    border-top: 0.2em solid rgb(47, 39, 39);
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width:90%;
}

.aoeRevealledMaps{
    height: auto;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 50%;
}

.aoeRevealledMaps:hover{
    transform: scale(1.2);
    transition: 1s; 
}

.aoeObjectivesList{
    border-bottom: 0.2em solid rgb(108, 91, 91);
    border-radius: 1em;
    border-top: 0.2em solid rgb(108, 91, 91);
    margin-bottom: 0.5%;
    text-align: left;
    width: 100%;
}

#dowList{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom:5%;
    margin-top:5%;
}

#dowList1{
    display: flex;
    flex-direction: row;
}

#dowList2{
    display: flex;
    flex-direction: row;
}

#dowList3{
    display: flex;
    flex-direction: row;
}

#gamesList{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:100%;
}

#hommArtefactsTable{
    border: 1px solid black;
}

#hommList{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom:5%;
    margin-top:5%;
}

#hommListStyle{
    justify-content: center;
}

#hommA1{
    height: 30%;
    width: 20%;
}

#hommA2{
    height: 30%;
    width: 50%;
}

.statsSearchBars{
    display: flex;
    flex-direction: row;
}

#userCivilizationBuildingInput{
    color: black;
    font-size: 35%;
    font-weight: bold;
    margin-left: 10%;
    width: 7.4%;
}

#userCivilizationUnitsInput{
    color: black;
    font-size: 35%;
    font-weight: bold;
    margin-left: 10%;
    width: 7.4%;
}

#userCivilizationTechnologyInput{
    color: black;
    font-size: 35%;
    font-weight: bold;
    margin-left: 10%;
    width: 7.4%;
}

#userAgeBuildingInput{
    color: black;
    font-size: 35%;
    font-weight: bold;
    margin-left: 10%;
    width: 5%;
}

#userAgeUnitsInput{
    color: black;
    font-size: 35%;
    font-weight: bold;
    margin-left: 10%;
    width: 5%;
}

#userAgeTechnologyInput{
    color: black;
    font-size: 35%;
    font-weight: bold;
    margin-left: 10%;
    width: 5%;
}

#userRequirementsBuildingInput{
    color: black;
    font-size: 35%;
    font-weight: bold;
    margin-left: 10%;
    width: 11.5%;
}

#userRequirementsUnitsInput{
    color: black;
    font-size: 35%;
    font-weight: bold;
    margin-left: 10%;
    width: 11.5%;
}

#userRequirementsTechnologyInput{
    color: black;
    font-size: 35%;
    font-weight: bold;
    margin-left: 10%;
    width: 11.5%;
}

#userBuildingInput{
    color: black;
    font-size: 35%;
    font-weight: bold;
    margin-left: 10%;
    width: 7%;
}

#userUnitInput{
    color: black;
    font-size: 35%;
    font-weight: bold;
    margin-left: 10%;
    width: 7.8%;
}

#userTechnologyInput{
    color: black;
    font-size: 35%;
    font-weight: bold;
    margin-left: 10%;
    width: 7.8%;
}