a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
}


body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

p{
    text-align: justify;
}

#egyptBuilding{
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

#grid{
    background-color: black;
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 5px;
}

#gridCostHeading{
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    grid-column: 7/10;
    padding: 10px 0;
    text-align: center;
}

#gridHeading{
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

#gridSubHeading{
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;  
}

#indeximg{
    height: 90%;
    width: 100%;
}

#indexli:hover{
    transform: scale(1.1);
    transition: 1s;
}

#indexli{
    background-color: black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 8vh;
    list-style: none;
    justify-content: center;
    margin-bottom:5%;
    margin-top:5%;
    width: 40vw;
}

#aoeCPImage1{
    height: 90%;
    width: 94%;
}

#aoeCPImage2{
    height: 120%;
    width: 75%;
}

#aoeCPImage3{
    height: 100%;
    width: 100%;
}

#aoeCPList{
    align-items: center;
    background-color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 5%;
    margin-top: 5%;
}

#aoeCPList1{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-bottom:5%;
}

#aoeCPList2{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-bottom:20%;
}

#aoeCPList3{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-bottom:5%;
}

#aoeCPList1:hover{
    transform: scale(1.1);
    transition: 1s; 
}

#aoeCPList2:hover{
    transform: scale(1.1);
    transition: 1s; 
}

#aoeCPList3:hover{
    transform: scale(1.1);
    transition: 1s; 
}

#dowList{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom:5%;
    margin-top:5%;
}

#dowList1{
    display: flex;
    flex-direction: row;
}

#dowList2{
    display: flex;
    flex-direction: row;
}

#dowList3{
    display: flex;
    flex-direction: row;
}

#gamesList{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#hommList{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom:5%;
    margin-top:5%;
}

#hommListStyle{
    justify-content: center;
}

#hommA1{
    height: 30%;
    width: 20%;
}

#hommA2{
    height: 30%;
    width: 50%;
}