a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
}


body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

iframe{
    height: 75vh;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 80vw;
}

p{
    text-align: justify;
}

td{
    background-color: antiquewhite;
    border: 1px solid black;
    font-size: 0.9vw;
    font-weight: bold;
}

#aoe1a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 3%;
    text-decoration: none;
}

#aoe1campaignbody{
    align-items: center;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

#aoe1HPa {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 10%;
    text-decoration: none;
}

#aoe1HPa:hover{
    transform: scale(1.1);
    transition: 1s;
}

#aoe1buildingsTable{
    background-color: black;
    border: 1px solid black;
}

#aoe1technologyTable{
    background-color: black;
    border: 1px solid black;
}

#aoe1unitsTable{
    background-color: black;
    border: 1px solid black;
}

#aoe1mainHeading{
    background-color: antiquewhite;
    border: 1px solid black;
    font-size: 0.9vw;
    font-weight: bold;
}

#aoe1subHeading{
    background-color: antiquewhite;
    border: 1px solid black;
    font-size: 0.9vw;
    font-weight: bold;
}

#Babylonian{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

#Egyptian{
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

#Greek{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

#Hittite{
    background-color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

#Yamato{
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

#Technology{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

#indeximg{
    height: 90%;
    width: 100%;
}

#indexli:hover{
    transform: scale(1.1);
    transition: 1s;
}

#indexli{
    background-color: black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 8vh;
    list-style: none;
    justify-content: center;
    margin-bottom:5%;
    margin-top:5%;
    width: 40vw;
}

#aoeCPImage1{
    height: 90%;
    width: 94%;
}

#aoeCPImage2{
    height: 120%;
    width: 75%;
}

#aoeCPImage3{
    height: 100%;
    width: 100%;
}

#aoeCPList{
    align-items: center;
    /* background-color: black; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 5%;
    margin-top: 5%;
}

#aoeCPList1{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-bottom:5%;
}

#aoeCPList2{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-bottom:20%;
}

#aoeCPList3{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-bottom:5%;
}

#aoeCPList1:hover{
    transform: scale(1.1);
    transition: 1s; 
}

#aoeCPList2:hover{
    transform: scale(1.1);
    transition: 1s; 
}

#aoeCPList3:hover{
    transform: scale(1.1);
    transition: 1s; 
}

#dowList{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom:5%;
    margin-top:5%;
}

#dowList1{
    display: flex;
    flex-direction: row;
}

#dowList2{
    display: flex;
    flex-direction: row;
}

#dowList3{
    display: flex;
    flex-direction: row;
}

#gamesList{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#hommList{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom:5%;
    margin-top:5%;
}

#hommListStyle{
    justify-content: center;
}

#hommA1{
    height: 30%;
    width: 20%;
}

#hommA2{
    height: 30%;
    width: 50%;
}